<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
    <link rel="icon" href="./images/weather-img.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
    <div class="main">
        <h1>{{error_status}}</h1>
        <h4>{{error_msg}}</h4>
    </div>
    {{>footer}}
    
</body>
</html>