<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing App</title>
    <link rel="stylesheet" href="./css/style2.css">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="default-info">
                <div class="day-date">
                    <h1 class="default-day" id="location">Address</h1>
                    <span class="default-date" id="localtime">--/--/-- 00:00</span>
                </div>
                <div class="img-temp">
                    <img src="https://openweathermap.org/img/wn/10d@4x.png" alt="">
                    <h2 class="temp">0°C</h2>
                    <h3 class="forcast" >Weather</h3>
                </div>
            </div>
            
        </div>
        <div class="right-side">
            <form action="">
                <input type="text" placeholder="search location">
                <button>Search</button>
    
            </form>
            <p class=" message" id="error_msg"></p>
            <div class="all-info">
                <div class="box">
                    <p class="title">Country</p>
                    <span class="value" id="country_name">India</span>
                </div>
                <div class="box">
                    <p class="title">Temp</p>
                    <span class="value temp" >0°C</span>
                </div>
                <div class="box">
                    <p class="title" >Humidity</p>
                    <span class="value " id="humidity">0%</span>
                </div>
            </div>
    
        </div>

    </div>
    
    <script src="./Js/app.js"></script>
    
</body>
</html>